:root {
    --blue: #1e90ff;
    --white: #ffffff;
}


body {
    margin: 0;
}

.header-container {
    display: flex;
    justify-content: space-between;
    transition: all 0.5s;
    background: rgb(233, 243, 248);
}

.header-top {
    padding: 0px 0px 8px 0px;
    background-color: rgb(233, 243, 248);
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.welcome {
    text-align: left;
    display: inline-block;
    padding: 20px;
    margin: 0px 14px 0px 0px;
    font-size: 25px;
    color: rgb(248, 143, 44);
    vertical-align: top;
    margin-top: 8px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#dropdown_pics {
    height: 15px;
}

.logoimg img {
    height: 50px;
    padding-top: 15px;
    padding-left: 5%;
}

.login {
    /* float: right; */
    padding: 0px;
    margin: 0px 20px 0px 0px;
    font-size: 25px;
    color: rgb(251, 255, 252);
    vertical-align: top;
    margin-top: 8px;
    /* position: absolute; top: 0; right: 0    */
}

.lonbutton {
    color: rgb(255, 170, 58);
    background-color: rgb(233, 243, 248);
    border: 0px;
    font-size: 14pt;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.lonbutton:hover {
    color: lightseagreen;
    outline: none;
    border: none;
}


/*-------------- search -----------*/
#search {
    width: 440px;
    height: 40px;
    border: none;
    outline: none;
    font-size: 16px;
    color: rgb(112, 112, 112);
    margin-left: 100px;
}

/* .searchbar {
    border: rgb(103, 22, 22) solid 1px;
    border-radius: 2em;
    width: 10px;
    height: 300px;
    box-shadow: 0px 0px 5px rgb(212, 212, 212);
    margin: 0 auto;
} */

#search,
.mcp,
.mg {
    vertical-align: middle;
}

#search {
    width: 440px;
    height: 30px;
    border: none;
    outline: none;
    font-size: 16px;
    color: rgb(112, 112, 112);
    margin-left: 20px;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 2em;
    background: rgb(233, 243, 248);

}

.searchbar {
    border: rgb(218, 218, 218) solid 1px;
    border-radius: 2em;
    width: 552px;
    height: 42px;
    box-shadow: 0px 0px 5px rgb(212, 212, 212);
    margin: auto;
}

.mcp {
    height: 35px;
}

.mg {
    height: 25px;
    margin-left: 15px;
}

#search,
.mcp,
.mg {
    vertical-align: middle;
}


/*-------------- nav -----------*/
.nav-line {
    text-align: center;
}

a {
    color: darkslategray;
}

.dropbtn {
    background-color: rgb(255, 255, 255);
    color: darkslategray;
    padding: 15px;
    font-size: 20px;
    border: rgb(255, 255, 255);
    text-align: center;
    width: 120px;
    border-radius: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
    color: darkslategray;
    padding: 12px 20px;
    text-decoration: none;
    display: block;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.dropdown-content a:hover {
    background-color: #f2f3ee;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: rgb(255, 255, 255);
}

/* ------------Underline Animation------------ */
a {
    background:
        /* linear-gradient(to right, rgba(100, 200, 200, 1), rgba(100, 200, 200, 1)), */
        linear-gradient(to right, rgb(0, 0, 0), rgb(4, 3, 4), rgba(0, 100, 200, 1));
    background-size: 100% 0.1em, 0 0.1em;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
}

a:hover,
a:focus {
    background-size: 0 0.1em, 100% 0.1em;
}




/*-------------- pics -----------*/
#BJ {
    text-align: center;
}

#img {
    width: 100%
}

#ol {
    position: absolute;
    bottom: -150px;
    width: 100%;
    text-align: center;
    right: 0px;
}

li img {
    height: 25px;
}

/* display_individual_sectio */

/*.display_individual_section {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 10px;
    grid-auto-rows: 100px;
    grid-template-areas:
      "a a a a b b b b"
      "a a a a b b b b"
      "c c c c d d d d"
      "c c c c d d d d";
    align-items: start;
*/
.img1 {
    height: 70%;
    width: 70%;
}

.img2 {
    height: 70%;
    width: 70%;
}

.img3 {
    height: 70%;
    width: 70%;
}

.img4{
    height: 70%;
    width: 70%;
}


.display_individual_container img {
    align-items: center;
    justify-content: center;
}

.display_individual_container .womenfootwear_1 li, .display_individual_container .womenfootwear_2 li{
    width:50%;
    height: 100%;
    text-align: center;
}
.display_individual_container .womenfootwear_1, .display_individual_container .womenfootwear_2 {
   display: flex;
    display: -webkit-flex;
}


/*----------- Sections -----------*/

li {
    list-style: none;
    text-align: center;
    font-size: 18pt;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#guide img {
    height: 160px;
    width: 170px;
}


/*----------- bottom pics -----------*/

.demo {
    text-align: center;
}

#navp1 {
    height: 150px;
}



/*-------------- footer -----------*/

footer {
    background-color: lightyellow;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
