ul{
	margin: 0px;padding: 0px;
}

body{
	text-align: center;font-size: 14px;
}

a{
	text-decoration: none;
}

li{
	list-style: none;
}

.warp{
	width: 1000px;
	margin: 0px auto;
}


.info{
	width: 1000px;
	height: 100px;
	background-color: #ffc9a6;
	border-radius: 16px 16px 16px 16px;
	margin-top: 30px;
	border-top: 3px solid rgb(255, 253, 253);
}
.info img {
	height: 80px;
}
.info li{
	float: left;
	margin-top: 20px;
}


.info_1{
	height: 100px;
	margin-left: 20px;
	
}

.info_2{
	margin-left: 20px;
	
}
.info_3{
	width: 250px;
	height: 20px;
	margin-left:100px;
}


.info_5{
	margin-left: 20px;
}



.info_6 input{
	width: 33px;
	height: 15px;
	text-align: center;
	position: relative;
	top: -0px;
	left: -8px;
	
}

.info_6 button{
	width: 30px;
	height: 20px;
}

.bot{
	position: relative;
	left: -15px;
}

.info_7{
	margin-left: 200px;
	
}

.balance{
	width: 1000px;
	height: 50px;
	margin-top: 30px;
	background-color: #ffc9a6;
	border-radius: 16px 16px 16px 16px;
}

.balance_ul1,.balance_ul1>li,.balance_ul2>li{
	float: left;
	line-height: 50px;
	margin-left: 10px;
}

.balance_ul2{
	float: right;
	margin-right: 25px;
	font-size: 10pt;
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;	
}

.butt{
	width: 120px;
	height: 50px;
	background-color: #ddf572;
	border: 0px;
	color: rgb(6, 7, 7);
	font-size: 20px;
	float: right;
	font-weight: bold;
	margin-right: 15px;
	border-radius: 16px 16px 16px 16px;
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;	
}



#butdelete {

	background-color: #ddf572;
	border: 0px;
	color: rgb(6, 7, 7);
	font-size: 20px;
 	font-weight: bold;
	border-radius: 16px 16px 16px 16px;
		
}
.shoppnav{
	width: 1000px;
	height: 50px;
	background-color: #ffc9a6;
	border-radius: 16px 16px 16px 16px;
	margin-top: 30px;
	border-top: 3px solid rgb(255, 253, 253);
}

.info_b{
	margin-left: 20px;
	float: left;
}
.info_c{
	float: left;
	margin-left:230px;
}


.info_d{
	margin-left: 110px;
	float: left;
}
.info_e{
	margin-left: 220px;
	float: left;
}
.info_f{
	margin-left: 5px;
	float: left;
}
