<div class="footerContainer">
<!--////////// Contact ///////////-->

    <ul class="contact CN-block">
        <li><a href="/us/en/help">Customer Support Centre</a></li>
        <li class=" contact-phone"><span class="tel-number" data-number="undefined">1-866-458-2473</span></li>
        <li class="contact-csc"><a href="/us/en/help">Contact Us</a></li>
        <li>
            <a class="virtual-advisor-enabled" href="/us/en/help/faq" style="display: inline-block;">General
                FAQ</a>
            <a class="virtual-advisor-disabled" href="//recall.arcteryx.com" style="display: none;">Recall
                Info</a>
        </li>
    </ul>
    <!--////////// Orders ///////////-->
    <ul class="orders CN-block">
        <li>
            <a href="/us/en/help/shipping">Shipping &amp; Delivery</a>
        </li>
        <li>
            <a href="/us/en/account/order-status" class="isLoggedIn">Order Tracking</a>
            <a href="/us/en/help/order-tracking" class="notLoggedIn">Order Tracking</a>
        </li>

        <li>
            <a href="/us/en/account/returns" class="isLoggedIn isStaff">Returns &amp; Refunds</a>
            <a href="/us/en/help/returns" class="notLoggedIn isStaff">Returns &amp; Refunds</a>
        </li>

    </ul>
    <!--////////// FAQ ///////////-->

    <ul class="faq">
        <li><a href="/us/en/explore/sustainability">Sustainability</a></li>
        <li><a href="/us/en/explore/whoweare">Who We Are</a></li>
        <li class=" CN-block"><a href="/us/en/shop/pro">Pro Program</a></li>
    </ul>
    <!--////////// Company ///////////-->

    <ul class="company">
        <li class=""><a href="/us/en/giftcards">Gift Cards</a></li>
        <li class=""><a href="/us/en/careers">Careers</a></li>
        <li class=""><a href="//newsroom.arcteryx.com" target="blank">Newsroom</a></li>
        <li class="CA-block US-block "><a href="/us/en/stores/find-a-store">Find A Store</a></li>
    </ul>
    <!--////////// SOCIAL ///////////-->

    <div class="social">
        <a class="account logOut CN-block" href="/us/en/account/view-profile">My Account</a>
        <a class="logIn CN-block" href="/us/en/account/login">Sign-In</a>
        <div class="footer-ftue">
            <span class="flag flag-US"></span>
            <span class="country">US</span> / <span class="language">EN</span>
        </div>

        <div class="app-wrap">
            <div>
                <a class="arcapp arc-ios-app CN-block " href="https://apps.apple.com/app/arcteryx/id1183113553"
                    target="_blank" rel="noopener">iOS App / </a>
                <a class="arcapp arc-android-app CN-block "
                    href="https://play.google.com/store/apps/details?id=com.arcteryx.customer" target="_blank"
                    rel="noopener">
                    Android App
                </a>
            </div>
        </div>

        <div class="social-wrap">
            <ul>
                <li>
                    <a href="//www.facebook.com/arcteryx" class="social-na facebook" target="_blank"
                        title="Facebook" rel="noopener">
                        <span class="footer__social-share">Facebook</span>
                    </a>
                </li>
                <li>
                    <a href="//instagram.com/arcteryx" class="social-na instagram" target="_blank"
                        title="Instagram" rel="noopener">
                        <span class="footer__social-share">Instagram</span>
                    </a>
                </li>
                <li>
                    <a href="//twitter.com/arcteryx" class="social-na twitter" target="_blank" title="Twitter"
                        rel="noopener">
                        <span class="footer__social-share">Twitter</span>
                    </a>
                </li>
                <li>
                    <a href="//www.pinterest.com/arcteryx" class="social-na pinterest" target="_blank"
                        title="Pinterest" rel="noopener">
                        <span class="footer__social-share">Pinterest</span>
                    </a>
                </li>
                <li>
                    <a href="//www.youtube.com/arcteryxequipmentinc" class="social-na youtube" target="_blank"
                        title="Youtube" rel="noopener">
                        <span class="footer__social-share">YouTube</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
</footer>